/*
–––––––––––––––––––––––––––––––––––––––
Import base styles
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

@import "../00-foundation/variables.css";
@import "../00-foundation/var-grid.css";
@import "../00-foundation/var-type.css";
@import "../00-foundation/reset.css";

@import "../01-objects/type.css";



/*
–––––––––––––––––––––––––––––––––––––––
Core
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/


html, body {
	background-color: var(--c03-gray-05);
	margin: 0;
	padding: 0;
}




.links-showcase-wrapper.positive {
	background-color: var(--c03-gray-07);
}
.links-showcase-wrapper.gray {
	background-color: var(--c03-gray-05);
}
.links-showcase-wrapper.reverse {
	background-color: var(--c03-gray-01);
}
.links-showcase-wrapper.reverse-blue {
	background-color: var(--c01-dark);
}
.links-showcase-wrapper.reverse-gray-light {
	background-color: var(--c03-gray-02);
}
.links-showcase {
	max-width: 700px;
	padding: var(--sp-12) var(--sp-08);
	margin: 0 auto;
}

.bd-md {
	margin-bottom: var(--sp-03);
}
.hd-md {
	margin-bottom: var(--sp-05);
}

.links-showcase-wrapper.reverse p,
.links-showcase-wrapper.reverse h1 {
	color: #fff;
}



:root {
	--link-static: #007DFF;
	--link-hover: var(--c01-dark);
	--link-visited: var(--c02-purple-light);
	
	--link-rev-static: #00E6FF;
	--link-rev-hover: #99F2F8;
	--link-rev-visited: #D8A1FF;
}


a {
	color: var(--link-static);
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	color: var(--link-hover);
	text-decoration: underline;
}

a:visited {
	color: var(--link-visited);
}

.reverse a {
	color: var(--link-rev-static);
}

.reverse a:hover {
	text-decoration: underline;
	color: var(--link-rev-hover);
}

.reverse a:visited {
	color: var(--link-rev-visited);
}







a {
    text-decoration: none;
    padding-bottom: 4px;
    position: relative;
}

a:hover {
	text-decoration: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--link-static);
}

a:before {
    opacity: 1;
    transform: translateY(0);
}

a:after {
opacity: 1;
   transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

a:hover:before, a:hover:after, a:focus:before, a:focus:after {
	height: 2px;
	background-color: var(--link-hover);
	transform: translateY(1px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}



.reverse a,
.reverse a:hover {
	text-decoration: none;
}

.reverse a:before, .reverse a:after {
    background-color: var(--c01-light);
}